@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Source+Code+Pro:ital,wght@1,300&display=swap");

@font-face {
  font-family: "Basteleur";
  src: url("../public/fonts/Basteleur/Basteleur-Moonlight.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Basteleur";
  src: url("../public/fonts/Basteleur/Basteleur-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#pricipalSection {
  margin: 1rem auto;
  max-width: 1800px;
}

.mainSection {
  display: grid;
  grid-template-columns: auto 80%;
  justify-content: space-between;
  gap: 2rem;
  background-color: #d3cfdf;

  border-left: 5px solid black;
  border-right: 10px solid black;
  border-bottom: 5px solid black;
}

header {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  border: 5px solid black;
}

header > h1 {
  background-color: #d9d9d9;
  width: 60%;
  border-right: 5px solid black;
  font-family: Basteleur;
  font-weight: bold;
  font-size: 5rem;

  padding: 0 2rem;
}
.savedUi {
  font-family: "Rowdies", cursive;
  margin: 0 auto;
  width: max-content;
  height: 100%;
  display: flex;
  font-weight: bolder;
  font-size: 3rem;
  padding: 0 2rem;
}

.savedUi > span:nth-child(1) {
  background-color: #dd7dff;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
}

.savedUi > span:nth-child(2) {
  background-color: #fff700;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
  transform: rotate(12deg);
  z-index: 1;
}

.savedUi > span:nth-child(3) {
  background-color: #00ff75;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
}

.savedUi > span:nth-child(4) {
  background-color: #ff5e5e;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
  transform: rotate(12deg);
}

.savedUi > span:nth-child(5) {
  background-color: #dd7dff;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
  transform: rotate(-12deg);
}

.savedUiNumber {
  background-color: #00ff75;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
  margin-left: 3rem;
  transform: rotate(12deg);
}

.SavedBookTitleUi {
  font-family: "Rowdies", cursive;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.SavedBookTitleUi > section:nth-child(1) {
  box-shadow: 4px 4px 0 0;
  font-weight: bolder;
  border: 5px solid black;
  text-align: center;
  background-color: #00ff75;
  width: 12rem;
  font-size: 3rem;
}

.SavedBookTitleUi > section:nth-child(2) {
  box-shadow: 4px 4px 0 0;
  font-weight: bolder;
  border: 5px solid black;
  text-align: center;
  background-color: #dd7dff;
  width: 9rem;
  font-size: 3rem;
  transform: rotate(-12deg);
}

.SavedBookTitleUi > section:nth-child(3) {
  box-shadow: 4px 4px 0 0;
  font-weight: bolder;
  border: 5px solid black;
  text-align: center;
  background-color: #ff5e5e;
  width: 9rem;
  font-size: 3rem;
}

.SavedBookTitleUi > section:nth-child(4) {
  box-shadow: 4px 4px 0 0;
  font-weight: bolder;
  border: 5px solid black;
  text-align: center;
  background-color: #fff700;
  width: 4rem;
  font-size: 3rem;
  transform: rotate(12deg);
}

.booksListContainer {
  background-color: #e4cdcd;
  border-left: 5px solid black;

  min-height: 87.7vh;
}
.booksListContainer > ul {
  margin-top: 2rem;

  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.booksListContainer > ul > li {
  width: min-content;
  margin: 0 auto;
}

.bookUi {
  font-family: "Source Code Pro", monospace;
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0.788);
  cursor: pointer;
  box-shadow: 10px 10px 0 0px;
  background-color: white;
  width: 15rem;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookUi > img {
  border: 4px solid black;
  width: 50%;
  margin-bottom: 10px;
  user-select: none;
}

.bookUi > p {
  text-align: center;
}

.bookUi > p:nth-child(2) {
  font-weight: bolder;
  width: 100%;
  border-bottom: 2px solid black;
}

.bookUi > p:nth-child(3) {
  margin-bottom: 15px;
  margin-top: 0;
  background-color: rgba(128, 128, 128, 0.603);
  width: 100%;
  padding: 4px;
}

/* /////SEACH/////// */
.mainSection > aside {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 330px;
}

.searchSection {
  background-color: #ffffff;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  border: 5px solid black;
  height: min-content;
  padding: 1rem;
  box-shadow: 6px 6px 0 0;
}

.searchSection > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.searchSection > ul > li:nth-child(odd) {
  font-family: Basteleur;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

.searchSection > ul > li:nth-child(1)::after,
.searchSection > ul > li:nth-child(3)::after,
.searchSection > ul > li:nth-child(5)::after {
  display: block;
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 10px;
  z-index: -1;
  background-color: #fff700;
}

.searchSection > ul > li > input {
  padding: 7px;
  border: 2px solid black;
  background-color: #d9d9d9;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.searchSection > ul > li:nth-child(even) {
  margin-bottom: 1.5rem;
}

.searchSection > ul > li > select {
  padding: 0.5rem;
  border: 2px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  box-shadow: 4px 4px 0 0;

  font-size: 1rem;
}

.searchSection > ul > li > button {
  padding: 0.5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  background-color: #d9d9d9;
  box-shadow: 4px 4px 0 0;
  user-select: none;
}

.searchSection > ul > li:last-child::after {
  content: "X";
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #dd7dff;
  border: 3px solid black;
  position: absolute;
  right: 25px;
  box-shadow: 4px 4px 0 0;
  transform: rotate(12deg);
}

.searchSection > ul > li:last-child {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SabedBooks {
  margin: 2rem auto;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SabedBooks > ul {
  min-width: 100%;

  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.SabedBooks > ul > li {
  min-width: 100%;
  border: 4px solid black;
  position: relative;
  padding: 0 1rem;
  box-shadow: 4px 4px 0 0;
}
.SabedBooks > ul > li > p {
  user-select: none;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: 100%;
  min-width: 9rem;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
  height: 2rem;
}

.SabedBooks > ul > li > button {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-family: Basteleur;
  font-weight: bolder;
  background-color: #dd7dff;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
  transform: rotate(12deg);
}

@media (max-width: 1130px) {
  header {
    flex-direction: column;
    border-bottom: 5px solid black;
    align-items: center;
    gap: 2rem;
  }
  header > h1 {
    width: 100%;
    border-bottom: 5px solid black;
    border-right: none;
  }
  .savedUi {
    margin-bottom: 2rem;
    height: 100%;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
  }
  .mainSection > aside {
    border: 1px solid black;
    width: 100%;
  }
  .searchSection {
    width: max-content;
  }

  .searchSection > ul > li:last-child {
    margin-top: 1rem;
    width: min-content;
  }
  .searchSection > ul > li:nth-child(even) {
    margin-bottom: 0;
  }
  .searchSection > ul > li:last-child::after {
    right: -7px;
  }

  .SabedBooks {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .savedUi {
    transform: scale(0.8);
  }
  .mainSection > aside {
    border: none;
  }

  .SavedBookTitleUi {
    transform: scale(0.8);
  }
  .booksListContainer {
    border: none;
    border-top: 8px solid black;
  }
  .mainSection {
    border: none;
  }
  .SabedBooks {
    border: none;
  }
}
